.contenido{
    width: 100%;
    height: auto;
}


/*Mobile First*/

.sobreNosotros{ 
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 10%;
}

.sobreNosotros h2{
    font-family: Raleway;
    font-size: 32px; 
    color: #2F1157;
    margin: 0;
}

.sobreNosotros p{
    font-family: Amiko;
    font-size: 16px;
    margin-top: 16px; 
    line-height: 26px; 
}

.texto{
    text-align: center;
}

.imgIntegrantes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgIntegrantes img{
    margin: 5%;
    width: 70%;
    height: auto;

}
.contenido{
    height: auto;
}
.carrusel{
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

#carruselNoticias{
    width: 100%;
}
.carrusel h2{
    width: 100%;
    text-align: center;
    font-family: Raleway;
    color: #2F1157;
    font-size: 40px;
    margin-bottom: 5px;
}
.noticia-card{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,.15);
    text-align: center;
}

.noticia-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.noticia-card h3{
    font-family: Raleway;
    color: #2F1157;
    font-size: 25px;
    margin: 5px;
}

.noticia-card p{
    font-family: Amiko;
    margin-bottom: 10px;
}

.noticia-card a{
    display: inline-block;
    margin-bottom: px;
    padding: 12.8px 20px;
    background-color: #2F1157;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.noticia-card a:hover{
    background-color: #4b1f87;
}

#anterior,
#siguiente{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;

    background-color: rgba(47,17,87,0.85);
    color: white;

    font-size: 18px;
    cursor: pointer;

    z-index: 10;
}

#anterior{
    left: 10px;
}

#siguiente{
    right: 10px;
}

#anterior:hover,
#siguiente:hover{
    background-color: #4b1f87;
}


@media (min-width: 1024px){

    .sobreNosotros{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 64px; /* antes 4rem */
    }

    .texto{
        text-align: left;
        max-width: 500px;
    }

    .sobreNosotros h2{
        font-size: 32px;
    }

    .sobreNosotros p{
        font-size: 18px;
    }

    .imgIntegrantes img{
        width: 400px;
    }
    .noticia-card img{
        height: 250px;
    }

    #anterior,
    #siguiente{
        width: 50px;
        height: 50px;
        font-size: 21px;
    }
}




