#contenedor{
    display: flex;
    flex-direction: column;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 60px;
    margin-left: 100px;
    align-items: center;
    
}
.formulario input, textarea{
    width: 740px;
    height: 81px;
     border: 2px solid #2F1157 ;
    border-radius: 10px;
}
.formulario textarea{
    height: 397px;
}
.formulario p{
    color: #2F1157;
    font-weight: bold;
}

.btnEnviar{
    width: 257px;
    height: 51px;
    align-self: center;
    border: 2px solid #2F1157;
    border-radius: 30px;
    background-color: white;
    font-family: Buenard;
    font-weight: bold;
    font-size: 20px;
    color: #2F1157;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 824px;
    background-color: #D0B2F8;
}
.footer a{
    text-decoration: none;
    font-family: Inter;
    font-weight: bold;
    font-size: 30px;
}
.logoFooter{
    margin-top: 172px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 309px;
    background-color: #D0B2F8;
}
.menu{
    display: flex;
    justify-content: flex-end;
    background-color: #8C6FB3;
   
  
}
.menu ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    margin-right: 70px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}