#body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

/* Header y Footer*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    background-color: #D0B2F8;
}

.menu {
    display: flex;
    justify-content: flex-end;
    background-color: #8C6FB3;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    margin-right: 70px;
}

.menu li, menu {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 824px;
    background-color: #D0B2F8;
}

.footer a {
    text-decoration: none;
    font-family: 'Amiko';
    font-weight: bold;
    font-size: 30px;
    color: #2F1157;
}

.logoFooter {
    margin-top: 172px;
}

.iconos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 71px;
}

.iconos img{
    height: 50px;
    width: 50px;
}

/* Formulario */

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto; 
  gap: 10px;
  text-align: center; 
  width: 100%;
}


.formulario input,
textarea, select {
    width: 500px;
    height: 40px;
    border: 2px solid #2F1157;
    border-radius: 10px;
}

.formulario textarea {
    height: 300px;
}

.formulario p {
    color: #2F1157;
    font-family: 'Amiko';
    margin-left: 30px;
}

.formulario h2{
    color: #2F1157;
    font-family: 'Raleway';
}

.input-container {
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;  
  align-items: flex-start;  
}


.form-input {
  position: relative;
  width: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-input input,
.form-input textarea,
.form-input select {
  width: 100%;
  padding: 12px 12px 12px 40px; 
  border: 2px solid #2F1157;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.form-input img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;   
  height: 20px;
}

.form-input select{
    height: auto;
}

.form-input label {
  position: absolute;
  left: 40px; 
  top: 50%;
  transform: translateY(-50%);
  color: #8f8a8a;
  font-size: 14px;
  pointer-events: none;
  transition: 0.2s ease all;
}

/* Cuando el campo tiene foco o texto */

.form-input input:focus + label,
.form-input input:not(:placeholder-shown) + label,
.form-input textarea:focus + label,
.form-input textarea:not(:placeholder-shown) + label,
.form-input select:focus + label {
  top: -10px;   /* sube arriba del input */
  left: 0px;                                                                            
  font-size: 16px;
  color: #2F1157;
  background: #fff;
  padding: 0 4px;
}

.form-input select:valid + label {
  top: -10px;
  left: 0px; 
  font-size: 16px;
  color: #2F1157;
  background: #fff;
  padding: 0 4px;
}

.form-input input:focus,
.form-input textarea:focus,
.form-input select:focus {
  border-color: #8C6FB3;
  box-shadow: 0 0 8px 2px rgba(140, 111, 179, 0.6);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

/* Boton de enviar */

.btnEnviar:disabled {
    background-color: #ccc;   
    color: #666;
    border: 2px solid #aaa;
    cursor: not-allowed;
}

.btnEnviar {
    width: 257px;
    height: 51px;
    align-self: center;
    border: 2px solid #2F1157;
    border-radius: 30px;
    background-color: white;
    font-family: Buenard;
    font-weight: bold;
    font-size: 20px;
    color: #2F1157;
    transition: all 0.3s ease; 
    margin: auto;
}

.btnEnviar:hover:enabled {
    cursor: pointer;
    background-color: #2F1157;
    color: white;
}

/* Errores del formulario */

.error {
  font-weight: bold;
  color: #ba3434;
  font-size: 14px;
  margin-top: 4px;
  min-height: 18px; 
  display: block;   
  visibility: hidden;
}

.error.activo {
  visibility: visible;
}