.detalle-card {
    padding: 0 20px;
    margin: 24px auto;
}

.detalle-card h1 {
    font-family: 'Raleway';
    color: #2F1157;
    font-size: 24px;
    margin: 0 0 4px;
}

.detalle-card .subtitulo {
    font-family: 'Amiko';
    color: #555;
    font-size: 14px;
    margin: 0 0 16px;
}

.detalle-card .detalle-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 16px;
}

.detalle-card .descripcion {
    font-family: 'Amiko';
    color: #1e1e1e;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
}

@media (min-width: 1024px) {

    .detalle-card {
        max-width: 70%;
        margin: 40px auto;
    }

    .detalle-card h1 {
        font-size: 36px;
    }

    .detalle-card .subtitulo {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .detalle-card .detalle-img {
        width: auto;
        height: auto;
        margin-bottom: 24px;
    }

    .detalle-card .descripcion {
        font-size: 16px;
    }

}